<br />
Top 3 things I've learned:
<br/>
<ol>
    <li>Database Design</li>
    <li>SQL</li>
    <li>JavaScript</li>
</ol>
<br/>
Three things I want to learn:
<ol>
    <li>CSS</li>
    <li>Complex uses of JavaScript</li>
    <li>Functional Dependencies</li>
</ol>
<br />
<button type = button value="submit" onclick="clicked()">Click Me!</button>
<script>
    function clicked()
    {
        window.alert("You Clicked!")
    }
</script>