<html>
<header>
    CS355 Database Management Systems
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if (typeof js_includes !== 'undefined') { %>
        <% for(var i=0; i < js_includes.length; i++) { %>
            <script src="<%= js_includes[i] %>"></script>
        <% }%>
    <% }%>
</header>
<body>
<div style="float:right;">
    <% if(typeof first_name !== "undefined") { %>
    Welcome, <%= first_name %>
    <br />
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a>
    <% } %>
</div>