<nav>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a><br/>
    <a href="http://www.cs.sonoma.edu">CS</a><br/>
    <a href="http://www.sonoma.edu">Sonoma State</a><br/>
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a><br/>
    <a href="../../public/templateexample.ejs"> Template Link Example</a><br />
    <a href="/movie/all">Get All Movies</a><br />
    <a href="/user/all">Get All Users</a><br/>
    <a href="/rate/all">Get Avg Ratings</a><br />
    <a href="/user/create">Create A User</a><br/>
    <a href="/movie/create"> Add New Movie</a><br />
    <a href="/state/new"> Add New State</a><br />
    <a href="/genre/new"> Add New Genre</a><br />
    <a href="/rate/create">Rate A Movie</a><br />
    <a href="/auth_required/"> Auth Required</a><br />
    <a href="/auth_not_required/"> Auth Not Required</a><br />
</nav>