<table class = "MyClasses">
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Professor</th>
    </tr>
    <tr>
        <td>CS 355</td>
        <td>Database Design</td>
        <td>Haderman</td>
    </tr>
    <tr>
        <td>CS 330</td>
        <td>Game Programming</td>
        <td>Gill</td>
    </tr>
    <tr>
        <td>CS 340</td>
        <td>Computer Security</td>
        <td>Ledin</td>
    </tr>
</table>