<% var js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js',
    '/javascripts/login_ajax.js']%>
<% include ../partials/header.ejs %>

<h1>Login</h1>
<form>
    <label for="email">Email:</label><input type="text" id="email" name="email" /><br />
    <label for="password">Password:</label><input type="password" id="password" name="password" /><br />
    <button id = "login">Login</button>
</form>

<% include ../partials/footer.ejs %>