<% if(rs.length > 0) { %>
<h1>User: <%= rs[0].first_name %> <%= rs[0].last_name %></h1>

    <table border="1">
        <tr><th>Movie Title</th><th>Rating</th></tr>
    <% for(var i=0; i < rs.length; i++) {%>

    <tr>
        <td><%= rs[i].movie_title %></td>
        <td><%= rs[i].rating %></td>
    </tr>
    <% } %>
        </table>

<% } else { %>
No user matched user id <%= user_id %>.
<% } %>