<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>First Name</th> <th> Last Name</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <a href="/user/?user_id=<%= rs[i].user_id %>"><%= rs[i].first_name %></a> </td>
            <td> <a href="/user/?user_id=<%= rs[i].user_id %>"><%= rs[i].last_name %></a> </td>
            <td>
                <a href="/user/delete/?user_id=<%= rs[i].user_id %>&User_ID=<%= rs[i].user_id %>">Delete</a>
                <a href="/user/edit/?user_id=<%= rs[i].user_id %>">Edit</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No users exist.
    <% } %>
</div>
