<% include ../partials/header.ejs %>

<div id="test"></div>
<% if (typeof message !== 'undefined') { %>
<div><%= message %></div>
<% } %>
<% if(rs.length > 0) { %>
<h1>Edit User</h1>
<form method="POST" action="/user/update_user">
    <input type="hidden" name="user_id" value="<%= rs[0].user_id %>" />
    First Name <input type="text" id="first_name" name="first_name" value="<%= rs[0].first_name%>" />
    <br />
    Last Name <input type="text" id="last_name" name="last_name" value="<%= rs[0].last_name%>" />
    <br />
    Email <input type="text" id="email" name="email" value="<%= rs[0].email%>" />
    <br />
    New password <input type="password" id="password" name="password" value="<%= rs[0].password%>" />
    <br />
    <div class="styled-select">
        <select name = "state_id" id = "state_id">
        <% for (var i=0; states.length > i; i++) { %>
            <option
                 <% for (var j=0; j < rs.length; j++) {
                    if(states[i].state_id == rs[j].state_id) { %>
                    selected

                    <% }
                    }
                    %>
                    value = "<%= states[i].state_id %>"><%= states[i].state %>
            </option >
            <% } %>
        </select>
    </div>
    <br />

    <button id="addBtn">Apply Changes</button>
</form>
<% } else { %>
No users matches that ID.
<% } %>

<% include ../partials/footer.ejs %>