<% var js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js',
    '/javascripts/sign_up_ajax.js']%>
<% include ../partials/header.ejs %>
<form>
    <label for="firstname">First Name</label> <input type="text" id="firstname" name="firstname" /><br />
    <label for="lastname">Last Name</label> <input type="text" id="lastname" name="lastname" /><br />
    <label for="email">Email</label> <input type="text" id="email" name="email" /><br />

    <label for="password">Password</label> <input type="password" id="password" name="password" /><br />
    <br />
    <div class="styled-select">
        <select name = "state_id" id = "state_id">
            <% for (var i=0; states.length > i; i++) { %>
            <option value = "<%= states[i].state_id %>"> <%= states[i].state %></option>
            <% } %>
        </select>
    </div>
    <br />
    <button id= "submit">Submit</button>
</form>

<% include ../partials/footer %>