a {
  color: #00B7FF;
}

header{
  font-size: 40px;
  background-color: #0080c0;
}

nav {
  line-height:30px;
  background-color:#595959;
  width:150px;
  height: 900px;
  color:blue;
  text-decoration: none;
  float:left;
  padding:5px;
}
body{
  height:400px;
  padding:200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
table.MyClasses {
  border:1px solid #d4d4d4;
}
table.MyClasses th{
  border:1px solid #d4d4d4;
  background-color:#808080;
  color: white;
  padding-right: 10px;
}
table.MyClasses tr{
  padding:5px;
}
footer {
  background-color:#0080c0;
  color:black;
  clear:both;
  text-align:center;
  padding:5px;
}
ol{
  padding-left:200px;
}

.styled-select select {
  background: none;
  width: 268px;
  padding: 5px;
  font-size: 16px;

  height: 34px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance: none;
}

.styled-select {
  width: 271px;
  height: 43px;
  overflow: hidden;
  border: 1px;
  border-color: black;

}