<!--<form action="/movie/save/">
    <label for="title">Title </label> <input type="text" id="title" name="title" /><br />
    <label for="tagline">Tagline </label><textarea name = "tagline" id = "tagline"></textarea><br />
    <input type="submit" />
</form>-->

<% js_includes = []%>
<% include ../partials/header.ejs %>

<h1>Add a New Movie</h1>
<form method="POST" action="/movie/insert_movie">
    Title <input type="text" id="title" name="title" /> <br />
    Tag Line<textarea name="tagline"></textarea> <br />
    <br />
    Genre(s)<br />
    <% for( var i = 0; i < genres.length; i++) { %>
    <input type="checkbox" name="genre_id" id="genre_id" value="<%= genres[i].genre_id %>"><%= genres[i].genre_name %> <br />
    <% } %>

    <br />

    <button id="addBtn">Add</button>
</form>

<% include ../partials/footer.ejs %>