<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Title</th> <th> Average Rating</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <a href="/movie/?movie_id=<%= rs[i].movie_id %>"><%= rs[i].title %></a> </td>
            <td> <%= rs[i].avg_rating %> </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No ratings exist.
    <% } %>
</div>