<% js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js',
    '/javascripts/rate_ajax.js']%>
<% include ../partials/header.ejs %>

<h1>Rate a Movie</h1>
<form>
    <input type="hidden" id = "user_id" name="user_id" value="<%= user.user_id %>" />
    Movie(s)<br />
    <div class="styled-select">
        <select name = "movie_id" id = "movie_id">
            <% for (var i=0; movies.length > i; i++) { %>
            <option value = "<%= movies[i].movie_id %>"><%= movies[i].title %></option >
            <% } %>
        </select>
    </div>

    <div class="styled-select">
        <select name = "rating" id = "rating">
            <% for (var r=0; 10 >= r; r++) { %>
            <option value = "<%=r%>%>"><%=r%></option >
            <% } %>
        </select>
    </div>
    <button id="addBtn">Add Rating</button>
</form>

<% include ../partials/footer.ejs %>